.paragraf1 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.paragraf2 {
    font-size: 1.3em;
    font-weight: lighter;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

.paragraf3 {
    font-size: 130%;
    font-weight: 600;
    font-style: oblique;
    font-family: Verdana, sans-serif;
}

.paragraf4 {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-family: Georgia, serif;
}

.paragraf5 {
    font-size: 2em;
    font-weight: bolder;
    font-style: normal;
    font-family: "Courier New", monospace;
}